{% extends "layouts/default.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title =  i18n.extension_refused_title %}

{% block main_content %}
  {# TODO: Add PSC and company details #}
   <span class="govuk-caption-l">{{pscName}} ({{ i18n.extension_refused_born_caption }} {{dateOfBirth}})</span>
   <h1 class="govuk-heading-l">{{ i18n.extension_refused_title }}</h1>

   <p class="govuk-body">{{ i18n.extension_refused_request_extension_description_1 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ i18n.extension_refused_request_extension_description_2 }}</li>
        <li>{{ i18n.extension_refused_request_extension_description_3 }}</li>
      </ul>

   <p class="govuk-body"> {{ i18n.extension_refused_request_description }}</p>
   <p class="govuk-body"> {{i18n.extension_refused_request_guidance_1 }} <a data-event-id="guidance-on-verifying-identity-link"href="https://www.gov.uk/guidance/verifying-your-identity-for-companies-house">{{ i18n.extension_refused_request_guidance_2 }}</a> </p>

{% endblock %}