{% extends "layouts/default.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title =  i18n.reason_for_extension_title %}

{% if "whyDoYouNeedAnExtension" in errors %}
  {% set title = i18n.title_error + title %}
{% endif %}

{% block main_content %}
    <form action="" method="post">
        {# TODO: Add PSC and company details #}
        <span class="govuk-caption-l">[PSC Name] ({{ i18n.reason_for_extension_born_caption }} [PSC DOB])</span>

            {% set radioButtonConfig = {
                name: "whyDoYouNeedAnExtension",
                values: whyDoYouNeedAnExtension,
                fieldset: {
                    legend: {
                        text: i18n.reason_for_extension_title,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: i18n.reason_for_extension_hint
                },
                items: [
                        {
                            value: reasons.ID_DOCS_DELAYED,
                            text: i18n.reason_for_extension_1
                        },
                        {
                            value: reasons.POST_OFFICE_VERIFICATION,
                            text: i18n.reason_for_extension_2
                        },
                        {
                            value: reasons.MEDICAL_TREATMENT,
                            text: i18n.reason_for_extension_3
                        },
                        {
                            value: reasons.NEED_SUPPORT,
                            text: i18n.reason_for_extension_4
                        },
                        {
                            value: reasons.TECHNICAL_ISSUES,
                            text: i18n.reason_for_extension_5
                        },
                        {
                            value: reasons.INCORRECT_PSC_DETAILS,
                            text: i18n.reason_for_extension_6
                        }
                ]
            } %}
                  {% if errors is not undefined and errors is not null and errors | length %}
                     {{ govukRadios({
                         name: radioButtonConfig.name,
                         values: radioButtonConfig.values,
                         fieldset: radioButtonConfig.fieldset,
                         items: radioButtonConfig.items,
                         errorMessage: {
                             text: i18n.reason_for_extension_error_message
                         }
                     }) }}
                  {% else %}
                     {{ govukRadios(radioButtonConfig) }}
                  {% endif %}
             {{ govukButton({
                text: i18n.submit_request,
                attributes: {
                    "onclick": "_paq.push(['trackEvent', 'psc-extensions', '" + templateName + "', document.querySelector('input[name=whyDoYouNeedAnExtension]:checked').value])"
                }

             }) }}
    </form>

{% endblock %}
